// src/components/GameCard/GameCard.module.scss

.gameCard {
  background-color: #2c2c2c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, height 0.3s;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
  z-index: 1;

  &:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  &:hover .summary {
    opacity: 1;
    max-height: 100px;
  }
}

.imageContainer {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gameInfo {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 img {
   border-radius: 0;
 }

.gameName {
  color: #fff;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.rating {
  color: #ffcc00;
  margin: 10px 0 5px;
  text-align: center;
}

.summary {
  color: #a1a1a1;
  text-align: center;
  padding: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s, max-height 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(44, 44, 44, 0.9);
  border-radius: 0 0 10px 10px;
}
