.gamesPage {
  padding: 20px;
}

.gamesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.spinner {
 width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
