.message-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.message-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 10px;
    max-height: 17rem;
}

.message-input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
}

.message-input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message-input-container button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #4ca1af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-input-container button:hover {
    background-color: #3b8a7e;
}

.unread-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
